:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 3%, 6%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 88%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.cardSection {
  margin: 3rem 0;
  grid-template: 1rem;
}
.cardSection .rightCard {
  position: relative;
  flex-basis: 70%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.cardSection .rightCard .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cardSection .rightCard .videoDiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardSection .rightCard h1,
.cardSection .rightCard p,
.cardSection .rightCard .btn {
  z-index: 100;
}
.cardSection .rightCard h1 {
  font-size: var(--h1FontSize);
  color: var(--whiteColor);
  font-weight: 800;
}
.cardSection .rightCard p {
  padding: 1rem;
  color: darkslategray;
  font-weight: 500;
  margin-bottom: 6px;
}
.cardSection .rightCard .buttons {
  gap: 1rem;
}
.cardSection .rightCard .buttons .btn {
  box-shadow: none;
  padding: 0.8rem 1.5rem;
  color: #fff;
  border: 2px solid transparent;
}
.cardSection .rightCard .buttons .transparent {
  background: none;
  border: 2px solid var(--paleGreen);
  color: var(--paleGreen);
}
.cardSection .rightCard .buttons .transparent:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}
.cardSection .leftCard {
  flex-basis: 50%;
}
.cardSection .leftCard .main {
  position: relative;
  padding: 1rem;
  height: 200px;
  border-radius: 1rem;
  justify-content: space-between;
}
.cardSection .leftCard .main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 98%;
  background: var(--paleGreen);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
}
.cardSection .leftCard .main .textDiv {
  z-index: 100;
}
.cardSection .leftCard .main .textDiv h1 {
  font-size: var(--h1FontSize);
  padding-bottom: 1rem;
  color: var(--blackColor);
}
.cardSection .leftCard .main .textDiv .flex {
  gap: 1.5rem;
  font-weight: 500;
  color: var(--blackColor);
}
.cardSection .leftCard .main .textDiv .flex small {
  font-style: var(--normalFontSize);
  display: block;
  color: var(--PrimaryColor);
  font-weight: 500;
  padding: 0.5rem 0;
}
.cardSection .leftCard .main .textDiv .link {
  margin-top: 2rem;
  cursor: pointer;
}
.cardSection .leftCard .main .textDiv .link:hover {
  color: var(--PrimaryColor);
}
.cardSection .leftCard .main .textDiv .link:hover .icon {
  transform: translateX(10px);
  transition: 0.3s ease;
}
.cardSection .leftCard .main .imgDiv {
  transform: translateY(-3px);
}
.cardSection .leftCard .main .imgDiv img {
  width: 150px;
}
.cardSection .leftCard .sideBarCard {
  display: none;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.cardSection .leftCard .sideBarCard .icon {
  position: absolute;
  background: var(--HoverColor);
  border: 10px soild var(--whiteColor);
  font-size: 3rem;
  border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(50%);
  z-index: 100;
}
.cardSection .leftCard .sideBarCard .cardContent {
  position: relative;
  padding: 1rem;
  background: var(--HoverColor);
  border-radius: 10px;
  overflow: hidden;
}
.cardSection .leftCard .sideBarCard h3 {
  font-size: var(--h3FontSize);
  margin-top: 1rem;
  padding: 1rem 0;
  font-weight: 800;
  color: var(--blackColor);
}
.cardSection .leftCard .sideBarCard p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
  font-weight: 500;
}
.cardSection .leftCard .sideBarCard .btn {
  position: relative;
  color: var(--textColor);
  z-index: 1000;
}
.cardSection .leftCard .sideBarCard .circle1,
.cardSection .leftCard .sideBarCard .circle2 {
  position: absolute;
  background: var(--paleGreen);
  border-radius: 50%;
  opacity: 0.7;
}
.cardSection .leftCard .sideBarCard .circle1 {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
}
.cardSection .leftCard .sideBarCard .circle2 {
  height: 150px;
  width: 150px;
  bottom: -80px;
  right: -70px;
  z-index: 1;
}

@media screen and (max-width: 990px) {
  .cardSection {
    flex-direction: column;
  }
  .cardSection .rightCard,
.cardSection .leftCard {
    width: 100%;
    flex-basis: 100%;
  }
  .cardSection .leftCard {
    margin-top: 2rem;
    align-self: flex-start;
    height: 10px !important;
  }
  .cardSection .leftCard .sideBarCard {
    display: block !important;
  }
}
.listTour {
  background-color: rgba(95, 158, 160, 0.4196078431);
}
.listTour .headerSearch {
  display: flex;
  background-color: darkcyan;
  color: white;
  padding: 10px;
  justify-content: center;
  margin-top: 30px;
  height: 80px;
  gap: 20px;
}
.listTour .headerSearch .headerSearch-item:nth-last-child(1) {
  margin-left: 10px;
}
.listTour .headerSearch .headerSearch-item {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.listTour .headerSearch .headerSearch-item select {
  border: none;
  outline: none;
}
.listTour .headerSearch .headerSearch-item .btn-search {
  width: 90px;
  height: 40px;
  border-radius: 0;
  background-color: darkslategray;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: smaller;
  border: none;
  justify-content: center;
  font-weight: 500;
}
.listTour .headerSearch .headerSearchInput {
  border: none;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.9411764706);
  width: 80%;
  outline: none;
  padding-left: 10px;
  gap: 20px;
}
.listTour .headerSearch .headerSearchInput .headerSearchInput::-moz-placeholder {
  font-size: 0.8rem;
  color: var(--textColor);
}
.listTour .headerSearch .headerSearchInput .headerSearchInput:-ms-input-placeholder {
  font-size: 0.8rem;
  color: var(--textColor);
}
.listTour .headerSearch .headerSearchInput .headerSearchInput::placeholder {
  font-size: 0.8rem;
  color: var(--textColor);
}
.listTour .region {
  width: 100%;
}
.listTour .region a {
  border-right: 1px solid #ccc;
}
.listTour .region h1 {
  font-size: var(--h2fontSize);
  color: var(--blackColor);
  font-weight: 700;
}
.listTour .region .btn-region {
  background: none;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 1.4rem;
}
.listTour .region .btn-region:hover {
  color: darkslategrey;
}
.listTour .tourContainer {
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 20px;
}
.listTour .tourContainer .singleItem {
  position: relative;
  width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background: var(--itemCardColor);
}
.listTour .tourContainer .singleItem:hover {
  background: var(--itemCardHover);
  box-shadow: 0 2px 2px var(--inputColor);
}
.listTour .tourContainer .singleItem img {
  max-width: 100px;
  height: 130px;
}
.listTour .tourContainer .singleItem .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--PrimaryColor);
}
.listTour .tourContainer .singleItem h3 {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  padding: 1rem 0;
}/*# sourceMappingURL=tour.css.map */