@import url("https:fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.mainContent {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3 ease;
}

/* color and style (default) */
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 3%, 6%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

:default style html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2fontSize);
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.gird {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  font-size: var(--h3FontSize);
  color: white;
  background-color: darkslategrey;
  border-radius: 8px;
}

.home-img {
  width: 100%;
  height: 800px;
  position: relative;
}

.btn .icon {
  margin-left: 0.5rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container {
  position: relative;
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}

::-webkit-scrollbar {
  display: none;
}

.btn-back {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #000;
  font-size: 1.6rem;
  background: #f1f1f1;
  border-radius: 8px;
}

:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 11%, 7%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.navbar .headerSection {
  justify-content: space-between;
}
.navbar .headerSection .title h1 {
  font-size: var(--h1FontSize);
  color: var(--blackColorColor);
  font-weight: 700;
}
.navbar .headerSection .title p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  font-weight: 500;
}
.navbar .headerSection .serchbar {
  padding: 1rem 2rem;
  background: var(--whiteColor);
  border-radius: 5px;
  gap: 1rem;
  box-shadow: 0 2px 4px var(--inputColor);
}
.navbar .headerSection .serchbar input {
  border: none;
  outline: none;
  background: none;
}
.navbar .headerSection .serchbar .icon {
  color: var(--textColor);
}
.navbar .headerSection .serchbar .icon:hover {
  color: var(--PrimaryColor);
}
.navbar .headerSection .userDiv {
  gap: 1rem;
}
.navbar .headerSection .userDiv .icon {
  font-size: var(--biggestFontSize);
  background: var(--whiteColor);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px var(--inputColor);
  color: var(--textColor);
}
.navbar .headerSection .userDiv .userImage {
  border: 3px solid var(--whiteColor);
  border-radius: 10px;
  width: 2.5rem;
  overflow: hidden;
  box-shadow: 0 2px 4px var(--inputColor);
}
.navbar .headerSection .userDiv .userImage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.navbar .cardSection {
  margin-top: 3rem;
  grid-template: 1rem;
}
.navbar .cardSection .rightCard {
  position: relative;
  flex-basis: 70%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.navbar .cardSection .rightCard .videoDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.navbar .cardSection .rightCard .videoDiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .cardSection .rightCard h1,
.navbar .cardSection .rightCard p,
.navbar .cardSection .rightCard .btn {
  z-index: 100;
}
.navbar .cardSection .rightCard h1 {
  font-size: var(--h1FontSize);
  color: var(--whiteColor);
  font-weight: 800;
}
.navbar .cardSection .rightCard p {
  padding: 1rem;
  color: var(--paleGreen);
  font-weight: 500;
}
.navbar .cardSection .rightCard .buttons {
  gap: 1rem;
}
.navbar .cardSection .rightCard .buttons .btn {
  box-shadow: none;
  padding: 0.8rem 1.5rem;
  color: var(--PrimaryColor);
  border: 2px solid transparent;
}
.navbar .cardSection .rightCard .buttons .transparent {
  background: none;
  border: 2px solid var(--paleGreen);
  color: var(--paleGreen);
}
.navbar .cardSection .rightCard .buttons .transparent:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}
.navbar .cardSection .leftCard {
  flex-basis: 50%;
}
.navbar .cardSection .leftCard .main {
  position: relative;
  padding: 1rem;
  height: 200px;
  border-radius: 1rem;
  justify-content: space-between;
}
.navbar .cardSection .leftCard .main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 98%;
  background: var(--paleGreen);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
}
.navbar .cardSection .leftCard .main .textDiv {
  z-index: 100;
}
.navbar .cardSection .leftCard .main .textDiv h1 {
  font-size: var(--h1FontSize);
  padding-bottom: 1rem;
  color: var(--blackColor);
}
.navbar .cardSection .leftCard .main .textDiv .flex {
  gap: 1.5rem;
  font-weight: 500;
  color: var(--blackColor);
}
.navbar .cardSection .leftCard .main .textDiv .flex small {
  font-style: var(--normalFontSize);
  display: block;
  color: var(--PrimaryColor);
  font-weight: 500;
  padding: 0.5rem 0;
}
.navbar .cardSection .leftCard .main .textDiv .link {
  margin-top: 2rem;
  cursor: pointer;
}
.navbar .cardSection .leftCard .main .textDiv .link:hover {
  color: var(--PrimaryColor);
}
.navbar .cardSection .leftCard .main .textDiv .link:hover .icon {
  transform: translateX(10px);
  transition: 0.3s ease;
}
.navbar .cardSection .leftCard .main .imgDiv {
  transform: translateY(-3px);
}
.navbar .cardSection .leftCard .main .imgDiv img {
  width: 150px;
}
.navbar .cardSection .leftCard .sideBarCard {
  display: none;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.navbar .cardSection .leftCard .sideBarCard .icon {
  position: absolute;
  background: var(--HoverColor);
  border: 10px soild var(--whiteColor);
  font-size: 3rem;
  border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(50%);
  z-index: 100;
}
.navbar .cardSection .leftCard .sideBarCard .cardContent {
  position: relative;
  padding: 1rem;
  background: var(--HoverColor);
  border-radius: 10px;
  overflow: hidden;
}
.navbar .cardSection .leftCard .sideBarCard h3 {
  font-size: var(--h3FontSize);
  margin-top: 1rem;
  padding: 1rem 0;
  font-weight: 800;
  color: var(--blackColor);
}
.navbar .cardSection .leftCard .sideBarCard p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
  font-weight: 500;
}
.navbar .cardSection .leftCard .sideBarCard .btn {
  position: relative;
  color: var(--textColor);
  z-index: 1000;
}
.navbar .cardSection .leftCard .sideBarCard .circle1,
.navbar .cardSection .leftCard .sideBarCard .circle2 {
  position: absolute;
  background: var(--paleGreen);
  border-radius: 50%;
  opacity: 0.7;
}
.navbar .cardSection .leftCard .sideBarCard .circle1 {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
}
.navbar .cardSection .leftCard .sideBarCard .circle2 {
  height: 150px;
  width: 150px;
  bottom: -80px;
  right: -70px;
  z-index: 1;
}/*# sourceMappingURL=navbar.css.map */