@import url("https:fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.mainContent {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3 ease;
}

/* color and style (default) */
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 3%, 6%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

:default style html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2fontSize);
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.gird {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  font-size: var(--h3FontSize);
  color: white;
  background-color: darkslategrey;
  border-radius: 8px;
}

.home-img {
  width: 100%;
  height: 800px;
  position: relative;
}

.btn .icon {
  margin-left: 0.5rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container {
  position: relative;
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}

::-webkit-scrollbar {
  display: none;
}

.btn-back {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #000;
  font-size: 1.6rem;
  background: #f1f1f1;
  border-radius: 8px;
}

:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 3%, 6%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.share {
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.28);
  border-radius: 10px;
  background-color: var(--bgColor);
  color: var(--textColor);
  margin-bottom: 20px;
  padding: 20px;
}
.share .top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share .top .left {
  display: flex;
  align-items: center;
}
.share .top .left .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}
.share .top .left input {
  position: absolute;
  border: none;
  outline: none;
  padding: 20px 10px;
  background-color: transparent;
  width: 80%;
  color: var(--blackColor);
  margin-left: 3rem;
  font-size: 1.4rem;
}
.share .top .left input::-moz-placeholder {
  font-size: 1.3rem;
}
.share .top .left input:-ms-input-placeholder {
  font-size: 1.3rem;
}
.share .top .left input::placeholder {
  font-size: 1.3rem;
}
.share .top .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.share .top .right .file {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px;
}
.share .bottom {
  margin-top: 2rem;
  gap: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.share .bottom .left {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.6rem;
}
.share .bottom .left .input {
  font-size: 1.4rem;
  border: none;
  outline: none;
  background-color: var(--bgColor);
  margin-left: 4px;
  width: 90%;
  color: black;
}
.share .bottom .left img {
  height: 20px;
}
.share .bottom .left .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.share .bottom .left .item span {
  font-size: 1.3rem;
  color: gray;
}
.share .bottom .right button {
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
  background-color: darkslategrey;
  border-radius: 8px;
}/*# sourceMappingURL=share.css.map */