@import url("https:fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.mainContent {
  width: 82%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}
.mainContent .bottom {
  margin-top: 2rem;
  gap: 2rem;
  align-items: flex-start;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3 ease;
}

/* color and style (default) */
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 3%, 6%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

:default style html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2fontSize);
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.gird {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: 0.8rem 1rem;
  color: var(--textColor);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 100%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.sidebar {
  background: var(--whiteColor);
  box-shadow: 1px 0px 4px var(--greyText);
  width: 18%;
  height: 100%;
  gap: 3rem;
  overflow: auto;
}
.sidebar .logoDiv {
  padding: 1.5rem 1.5rem 0;
  cursor: pointer;
}
.sidebar .logoDiv img {
  max-width: 20px;
  margin-right: 0.5rem;
  background: var(--inputColor);
  border-radius: 2px;
  padding: 0.2rem;
}
.sidebar .logoDiv h2 {
  font-size: var(--h2fontSize);
  color: var(--PrimaryColor);
}
.sidebar .menuDiv .divTitle,
.sidebar .settingDiv .divTitle {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  padding: 0 1.5rem 1.5rem;
}
.sidebar .menuDiv .menuLists .ListItem,
.sidebar .settingDiv .menuLists .ListItem {
  padding: 0.2rem 1.5rem;
  width: 100%;
  position: relative;
}
.sidebar .menuDiv .menuLists .ListItem::before,
.sidebar .settingDiv .menuLists .ListItem::before {
  position: absolute;
  content: "";
  height: 0%;
  left: 0;
  width: 5px;
  bottom: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--PrimaryColor);
}
.sidebar .menuDiv .menuLists .ListItem .menuLink,
.sidebar .settingDiv .menuLists .ListItem .menuLink {
  color: var(--greyText);
  font-weight: 500;
  transition: 0;
}
.sidebar .menuDiv .menuLists .ListItem .menuLink .icon,
.sidebar .settingDiv .menuLists .ListItem .menuLink .icon {
  margin-right: 0.5rem;
}
.sidebar .menuDiv .menuLists .ListItem:hover .menuLink,
.sidebar .settingDiv .menuLists .ListItem:hover .menuLink {
  color: var(--PrimaryColor);
  transition: 0;
}
.sidebar .menuDiv .menuLists .ListItem:hover::before,
.sidebar .settingDiv .menuLists .ListItem:hover::before {
  height: 100%;
  transition: 0.3s ease;
}
.sidebar .sideBarCard {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.sidebar .sideBarCard .icon {
  position: absolute;
  background: var(--HoverColor);
  border: 10px soild var(--whiteColor);
  font-size: 3rem;
  border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(50%);
  z-index: 100;
}
.sidebar .sideBarCard .cardContent {
  position: relative;
  padding: 1rem;
  background: var(--HoverColor);
  border-radius: 10px;
  overflow: hidden;
}
.sidebar .sideBarCard h3 {
  font-size: var(--h3FontSize);
  margin-top: 1rem;
  padding: 1rem 0;
  font-weight: 800;
  color: var(--blackColor);
}
.sidebar .sideBarCard p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
  font-weight: 500;
}
.sidebar .sideBarCard .btn {
  position: relative;
  color: var(--textColor);
  z-index: 1000;
}
.sidebar .sideBarCard .circle1,
.sidebar .sideBarCard .circle2 {
  position: absolute;
  background: var(--paleGreen);
  border-radius: 50%;
  opacity: 0.7;
}
.sidebar .sideBarCard .circle1 {
  height: 100px;
  width: 100px;
  top: -50px;
  left: -50px;
}
.sidebar .sideBarCard .circle2 {
  height: 150px;
  width: 150px;
  bottom: -80px;
  right: -70px;
  z-index: 1;
}

:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 3%, 6%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2fontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.lisitingSection {
  width: 82%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}
.lisitingSection .sales {
  display: none;
}/*# sourceMappingURL=tours.css.map */